* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgba(245, 248, 255, 1);
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

/* header */

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  /* background-color: palegoldenrod; */
  margin-bottom: 120px;
}

.navlink {
  display: flex;
  gap: 20px;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: #252432;
}

nav .navlink-menu {
  color: #8987a1;
}

.navlink-menu-1 {
  font-weight: 600;
}

/* banner */

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-color {
  color: #e95a08;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 50px;
  margin-bottom: 120px;
}

.banner-description {
  width: 88%;
}

.banner-img {
  flex: 1;
}

.banner-text {
  flex: 1;
}

.banner-img img {
  width: 100%;
  height: auto;
  display: block;
}

.banner-tile {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 13px;
}

.banner-description {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}

/* our plants */

.plant-text {
  text-align: center;
  margin-bottom: 50px;
}

.plant-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.plant-description {
  margin: 0 auto;
  width: 65%;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

/* cards */

.our-plants {
  margin-bottom: 200px;
}

.card {
  width: 100%;
  height: auto;
  border: 2px solid rgba(245, 248, 255, 1);
}

.card-img {
  margin-bottom: 20px;
  width: 100%;
  display: block;
  height: auto;
}

.card-title {
  font-size: 24px;
  font-weight: 600;
  color: rgba(17, 17, 17, 1);
  margin-bottom: 12px;
}

.card-description {
  font-size: 24px;
  font-weight: bold;
  color: rgba(17, 17, 17, 1);
  margin-bottom: 22px;
}

.card-button {
  background-color: rgba(233, 90, 8, 1);
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  height: auto;
  width: 100%;
  border: none;
}

.our-plants-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}


/* flower plants */
.flower-plants-img {
  width: 100%;
  height: auto;
  display: block;
  /* flex: 1; */
  /* max-width: 50%; */
}

.flower-img{
    width: 50%;
    position: relative;
}

.flower-plants {
  display: flex;
  align-items: center;
  gap: 20px;
  /* background-color: cadetblue; */
  width: 100%;
  margin-bottom: 100px;
}

.flower-plants-text {
  width: 50%;
  margin-left: 50px; 
}

.flower-plants-title{
    font-size: 50px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    margin-left: 20px;
    margin-bottom: 30px;
    width: 80%;
}

.flower-plants-description{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    list-style-position: outside;
    margin-left: 60px;
    width: 83%;   
}

.flower-plants-description-1{
    margin-bottom: 25px;
}

.badge{
    height: 300px;
    width: 300px;
   right: -130px;
    top: -130px;
    background-color: transparent;
    position: absolute;
    /* box-shadow: -4 10px 4px 0px rgba(0, 0, 0, 0.25); */
    filter: drop-shadow(-4px 10px 4px  rgba(0, 0, 0, 0.25));
}


/* latest deal */

.latest-deal{
    margin-bottom: 100px;
}

.deal-text{
  text-align: center;
}

.deal-title{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 15px;
  /* background-color: #E95A08; */
}

.deal-description{
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  width: 67%;
  margin: 0 auto;
  margin-bottom: 50px;
}


.deal-img-part{
  display: flex;
  /* flex-direction: column; */
  /* gap: 10px; */
  width: 100%;
}

.deal-img-2{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 420px;
  gap: 20px;
}

.deal-img-top{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url(assets/deal-bloom.png);
  height: 200px;
  width: 90%;
  background-repeat: no-repeat;
   border-radius: 20px;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
   flex-direction: column;
   gap: 15px;
  
}

.deal-img-bottom{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url(assets/deal-ana.png);
  height: 200px;
  width: 90%;
  background-repeat: no-repeat;
   border-radius: 20px;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
   flex-direction: column;
   gap: 15px;
}

.deal-img-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url(assets/deal-zabo.png);
    width: 70%;
    height: 420px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
   flex-direction: column;
   border-radius: 30px;
   gap: 15px;
   
}

.deal-img-text{
  background-color: transparent;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.deal-img-link{
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 500;
}


.deal-img-text-1{
  background-color: transparent;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.deal-img-link-1{
  background-color: transparent;
  color: white;
  font-size: 28px;
  font-weight: 500;
}


/* big image */

.big-img{
    background-image: url(assets/news-letter-bg.png);
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

.big-img-text{
  background-color: transparent;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.big-img-text h2{
  font-size: 50px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  padding: 30px;
}

.big-img-text input{
  width: 800px;
  height: 55px;
  border: none;
  padding-left: 20px;
  font-size: 16px;
}

.big-img-btn{
  background-color: #E95A08;
  color: white;
  height: 55px;
  width: 185px;
  border: none;
  font-size: 17px;
  font-weight: 600;  
}

.input-btn{
  display: flex;
  justify-content: center;
}



/* footer part */

.footer-all{
  display: flex;
  width: 100%;
  max-width: 1240px;
  height: auto;
  gap: 130px;
  /* background-color: palevioletred; */
  margin: 0 auto;
}

.foot-logo{
  margin-bottom: 15px;
}

.foot-description{
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  width: 95%;
  max-width: 360px;
  height: 180px;
}

.foot-nav-links{
  display: grid;
  grid-template-rows: repeat(5,1fr);
  grid-template-columns: 85px  130px;
  height: 250px;
  grid-auto-flow: column;
  gap: 30px;
  column-gap: 110px;
}

.foot-nav-links li{
  list-style: none;
}

.foot-nav-links li a{
  text-decoration: none;
  color: #6B7280;
}

.foot-icon{
  width: 230px;
  height: 36px;
  margin-left: 65px;
}

.icons{
  display: flex;
  width: 36px;
  height: 36px;
  gap: 25px; 
}

.icons-twi{
  padding: 8px;
}






/* for mobile responsive */
@media screen and (max-width: 576px) {
  .navlinks .navlink .navlink-menu,
  .navlink-menu-1 {
    display: none;
  }

  .navbar {
    padding: 15px;
  }


  /* banner */

  .banner {
    flex-direction: column-reverse;
    padding-top: 12px;
    margin-bottom: 70px;
  }

  .banner-text {
    padding: 15px;
  }

  .banner-tile {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .banner-description {
    font-size: 16px;
    width: 78%;
  }


  /* our plants */

.our-plants {
  margin-bottom: 70px;
}  

  .plant-title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .plant-description {
    width: 67%;
    font-size: 16px;
  }

  .our-plants-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0px 15px;
  }

  .card-title {
    font-size: 17px;
    margin-bottom: 5px;
  }

  .card-description {
    font-size: 17px;
    margin-bottom: 15px;
  }

  .card-button {
    padding: 20px 0px;
  }


  /* flower-plants */


  .flower-plants{
    flex-direction: column;
  }

  .flower-img{
    width: 100%;
    padding: 0 15px;
}

.flower-plants-text {
  width: 100%;
}

.flower-plants-title{
    font-size: 35px;
    margin-bottom: 20px;
    margin-left: 0;
}

.flower-plants-description{
    font-size: 18px;
     margin-left: 15px;
     width: 90%;
     padding: 0 25px 0 10px;
}

.badge{
    display: none;
}


/* latest deal */

.latest-deal{
    margin-bottom: 30px;
}


.deal-description{
  width: 88%;
}

.deal-img-part{
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* height: auto; */
  padding: 0 15px;
}

.deal-img-2{
  /* width: 100%; */
  /* height: auto; */
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  width: 100%;
  height: 450px;
}

.deal-img-top{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(assets/deal-bloom.png);
  width: 100%;
  height: 225px;
}

.deal-img-bottom{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(assets/deal-ana.png);
  border-radius: 0px;
  width: 100%;
  height: 225px;
}


.deal-img-1{
  
  width: 100%;
  height: 210px;
  border-radius: 20px;
}


/* big-img */

.big-img{
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: contain;
  margin-bottom: 5px;
}

.big-img-text h2{
  font-size: 22px;
  padding: 10px;
  text-align: center;
}

.big-img-text input{
  width: 100%;
  height: 40px;
  font-size: 14px;
}

.big-img-btn{
  height: 40px;
  width: 60%;
  font-size: 15px;
  font-weight: 500;  
}




/* footer */

.footer-all{
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0 15px;
}

.foot-nav-links{
  grid-template-rows: repeat(10,1fr);
  grid-template-columns: 100%;
  height: auto;
  grid-auto-flow: column;
  gap: 30px;
  margin-bottom: 20px;
}

.foot-description{
  width: 100%;
  max-width: 85%;
  height: auto;
  margin-bottom: 20px; 
}

.foot-icon{
  margin-left: 0px;
}

}
